body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:532px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:756px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:12px;
  width:443px;
  height:756px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:106px;
  width:349px;
  height:67px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:345px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:354px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:173px;
  width:351px;
  height:354px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:558px;
  width:140px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:612px;
  width:140px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:558px;
  width:140px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:612px;
  width:140px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:656px;
  width:140px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
